<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('./header') %>
    <style>
      .field{
        width: 30%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <!-- <p>注册测试</p> -->
    <div>
      <div id="app"></div>
      <!-- userName:
      <input type="text" name="" id="userName"/>
      password:
      <input type="password" id="password">
      <button type="button" id="button">确认</button> -->
        <div class="field">
          <label class="label">username</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input">
          </div>
        </div>
        
        <div class="field">
            <label class="label">password</label>
            <div class="control">
              <input class="input" type="password" placeholder="password">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input">
            </div>
        </div>
        
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input">
          </div>
        </div>
        
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input">
          </div>
        </div>
        
        <div class="field">
          <div class="control">
            <label class="radio">
              <input type="radio" name="question">
              Male
            </label>
            <label class="radio">
              <input type="radio" name="question">
              Female
            </label>
          </div>
        </div>
        
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          <div class="control">
            <button class="button is-link">Cancel</button>
          </div>
        </div>
    </div>
    <%- include('./script') %>
    <script type="text/babel">
      class RegCom extends React.Component {
        render() {
          return (
            <div className="app">
                <div className="field title">
                  <h1>Register</h1>
                </div>
                <div className="field">
                    <label className="label">username</label>
                    <div className="control">
                      <input className="input" type="text" placeholder="请输入用户名" />
                    </div>
                </div>
            </div>
          )
        }
      }

      ReactDOM.render(
        <RegCom />,
        document.getElementById('app')
      );
    </script>
  </body>

</html>
